#nav-one{
    background-color: #4aaaa5;
    height: 80px;
    border: 1px solid #cccccc;
    margin-left: 0px;
    top: 0px;
    float: left;
}

.nav-item{
    font-family: Arial, Helvetica, sans-serif;
}

#name{
    color: white;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    position: relative;
    font-size: 24px;
    text-align: center;
}

#nav-two{
    background-color: white;
    border: 1px solid #cccccc;
    height: 80px;
}

#main-background{
    background-image: url('../../assets/images/cork-board.png');
    padding: 100px;
}


#bio-para-box{
    background-color: white; 
    border: 1px solid #cccccc;
    width: 960px;
    margin-left: 150px;
    position: relative;
}

#profile{
    float: left;
    height: 100px;
    margin: 10px;
}

.text-wrap.bd-highlight{
    margin: auto;
}

.para-head{
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 10px;
}

.body-text{
    margin: 10px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

form{
    width: auto;
    margin: 10px;
}

#picture-row{
    padding: 10px;
}

.col-md-2{
    height: 150px;
    margin: 10px;
    border: 1px solid black;
    float: left;
    color: #ffffff;
}

#project-box-1{
    background-image: url('../images/snail2.jpg');
}

#project-box-2{
    background-image: url('../images/Download.jpg');
}

#project-box-3{
    background-image: url('../images/dog_placeholder.jpg');
}

#project-box-4{
    background-image: url('../images/giraffe_placeholder.jpg');
}

#project-box-5{
    background-image: url('../images/pig_placeholder.jpg');
}

.name-banner{
    background-color: #666666;
    border: 2px solid #4aaaa5;
    position: relative;
    margin: 5px;
}

.card-footer.text-muted{
    background-color: #666666;
    height: 50px;
    text-align: center;
    margin-bottom: 100%;
    border-top: 8px solid #4aaaa5;
}